@{
    ViewBag.Title = "Types";
    Layout = "~/Views/Shared/_ArtLayout.cshtml";
}
<div class="conterbox systemSet">
    <h2 class="crumbs">您所在位置：系统设置
    </h2>
    <div class="managebox">
        <div class="searchbox clearfix">
            <span class="t-search">用户名<input type="text" value="" name="" class="searchinp" />
                <input type="submit" value="搜索" name="" class="btn" /></span>
            <span class="t-addfl">
                <input type="submit" value="添加用户" name="" class="btn" id="J_adduser" /></span>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t-grid systemSet">
            <thead>
                <tr class="theadbg">
                    <th align="center" class="userName">用户名称</th>
                    <th align="center" class="logoinName">登陆名</th>
                    <th align="center" class="operation">操作</th>
                    <th align="center" class="qxSet">权限设置</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center" class="userName">易淘人</td>
                    <td align="center" class="logoinName">土土</td>
                    <td align="center" class="operation">
                        <a href="#" class="J_dele">
                            <img src="/icon/shanchu.png" align="top" />删除</a>
                        <a href="#" class="J_lookInfo">
                            <img src="/icon/chakaninfo.png" align="top" />查看</a>
                        <a href="#" class="J_compile">
                            <img src="/icon/bianji.png" align="top" />编辑</a>
                        <a href="#" class="J_xgPassword">
                            <img src="/icon/xiugaimima.png" align="top" />修改密码</a></td>
                    <td align="center" class="qxSet"><a href="" class="J_qxset">权限设置</a></td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

<div class="systemSet">
    <!--添加用户提示 start-->
    <div class="add-openbox adduserbox" id="J_addUserBox">
        <h2>添加用户提示<a href="" class="J_closebox xbtn"></a></h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="adduser-bz">
            <tr>
                <td class="title-text">姓名:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">用户名:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">登陆密码:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">职位:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">联系方式:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>
        </table>
        <p class="btnbox">
            <input value="添加用户" type="button" class="J_closebox closebox" />

        </p>
    </div>
    <!--end-->
    <!--删除用户 start-->
    <div class="add-openbox" id="J_deleUserBox">
        <h2>删除提示<a href="" class="J_closebox xbtn"></a></h2>
        <p class="l-textinfo">
            确定删除该用户吗？删除后，该作品不可恢复。请谨慎操作！
        </p>
        <p class="btnbox">
            <input value="确定" type="button" class="J_closebox closebox" />
            <input value="取消" type="button" class="J_closebox closebox" />
        </p>
    </div>
    <!--end-->
    <!--查看用户 start-->
    <div class="add-openbox adduserbox" id="J_lookInfoBox">
        <h2>查看用户<a href="" class="J_closebox xbtn"></a></h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="adduser-bz">
            <tr>
                <td class="title-text">姓名:</td>
                <td class="title-inp">土豆</td>
            </tr>
            <tr>
                <td class="title-text">用户名:</td>
                <td class="title-inp">得意的飘</td>
            </tr>
            <tr>
                <td class="title-text">登陆密码:</td>
                <td class="title-inp">123456</td>
            </tr>
            <tr>
                <td class="title-text">职位:</td>
                <td class="title-inp">运营</td>
            </tr>
            <tr>
                <td class="title-text">联系方式:</td>
                <td class="title-inp">123466789</td>
            </tr>
        </table>
        <p class="btnbox">
            <input value="确定" type="button" class="J_closebox closebox" />
            <input value="取消" type="button" class="J_closebox closebox" />
        </p>
    </div>
    <!--end-->
    <!--编辑用户提示 start-->
    <div class="add-openbox adduserbox" id="J_compileBox">
        <h2>编辑用户提示<a href="" class="J_closebox xbtn"></a></h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="adduser-bz">
            <tr>
                <td class="title-text">姓名:</td>
                <td class="title-inp">
                    <input value="土豆" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">用户名:</td>
                <td class="title-inp">
                    <input value="得意的飘" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">登陆密码:</td>
                <td class="title-inp">
                    <input value="123456" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">职位:</td>
                <td class="title-inp">
                    <input value="运营" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">联系方式:</td>
                <td class="title-inp">
                    <input value="138888888" name="" type="text" class="title-inp" /></td>
            </tr>
        </table>
        <p class="btnbox">
            <input value="确定" type="button" class="J_closebox closebox" />
            <input value="取消" type="button" class="J_closebox closebox" />
        </p>
    </div>
    <!--end-->
    <!--权限设置 start-->
    <div class="add-openbox adduserbox" id="J_qxsetBox">
        <h2>权限设置提示<a href="" class="J_closebox xbtn"></a></h2>
        <div class="ysjQxSet">
            <div>
                <h3 class="title J_downlist">艺术家管理 <span class="hover-up"></span></h3>
                <ul class="first-class J_showSetList">
                    <li class="firstli">
                        <input type="checkbox" value="" name="" />添加艺术家</li>
                    <li class="firstli">
                        <input type="checkbox" value="" name="" class="J_checkbtn" />艺术家管理</li>
                    <ul class="second-class">
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />编辑</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />删除</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />查看</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />发布</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />取消发布</li>
                    </ul>
                </ul>
            </div>
            <div>
                <h3 class="title J_downlist">作品管理 <span class="hover-up"></span></h3>
                <ul class="first-class J_showSetList">
                    <li class="firstli">
                        <input type="checkbox" value="" name="" />添加作品</li>
                    <li class="firstli">
                        <input type="checkbox" value="" name="" class="J_checkbtn" />作品管理</li>
                    <ul class="second-class">
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />编辑</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />删除</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />查看</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />发布</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />取消发布</li>
                    </ul>
                </ul>
            </div>
            <div>
                <h3 class="title J_downlist">权限管理 <span class="hover-up"></span></h3>
                <ul class="first-class J_showSetList">
                    <li class="firstli">
                        <input type="checkbox" value="" name="" />添加用户</li>
                    <li class="firstli">
                        <input type="checkbox" value="" name="" class="J_checkbtn" />用户管理</li>
                    <ul class="second-class">
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />编辑</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />删除</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />查看</li>
                        <li class="secondli">
                            <input type="checkbox" value="" name="J_checklist" />修改密码</li>
                    </ul>
                </ul>
            </div>

        </div>
        <p class="btnbox">
            <input value="确定" type="button" class="J_closebox closebox" />
            <input value="取消" type="button" class="J_closebox closebox" />
        </p>
    </div>
    <!--end-->
    <!--修改密码 start-->
    <div class="add-openbox adduserbox" id="J_xgPasswordBox">
        <h2>修改密码提示<a href="" class="J_closebox xbtn"></a></h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="adduser-bz">
            <tr>
                <td class="title-text">原密码:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" id="J_ypassword" /><span class="t-errormessage">原密码错误</span></td>
            </tr>
            <tr>
                <td class="title-text">新密码:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>
            <tr>
                <td class="title-text">确认密码:</td>
                <td class="title-inp">
                    <input value="" name="" type="text" class="title-inp" /></td>
            </tr>

        </table>
        <p class="btnbox">
            <input value="确定" type="button" class="J_confirm" />
            <input value="取消" type="button" class="J_closebox closebox" />
        </p>
    </div>
    <!--end-->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var adminjs = new adminglass();//实例化后台js类
        //关闭弹层
        $('.J_closebox').click(function () {
            adminjs.closewinbox('.add-openbox');
            return false
        })
        //添加用户
        $('#J_adduser').click(function () {
            adminjs.openwinbox('#J_addUserBox');
            return false;
        });
        //删除
        $('.J_dele').click(function () {
            adminjs.openwinbox('#J_deleUserBox');
            return false;
        });
        //查看用户
        $('.J_lookInfo').click(function () {
            adminjs.openwinbox('#J_lookInfoBox');
            return false;
        });

        //编辑用户
        $('.J_compile').click(function () {
            adminjs.openwinbox('#J_compileBox');
            return false;
        });

        //权限设置
        $('.J_qxset').click(function () {
            adminjs.openwinbox('#J_qxsetBox');
            return false;
        });

        //修改密码
        $('.J_xgPassword').click(function () {
            adminjs.openwinbox('#J_xgPasswordBox');
            return false;

        });
        //权限设置下拉菜单
        adminjs.slidedownList('.J_downlist', '.J_showSetList');
        adminjs.clickCheck('.J_checkbtn', '.J_showSetList');



    })

</script>
