<!DOCTYPE html>
<html>
<head lang="en">
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://192.168.1.118:8080/ysp-shop/admin/css/admin.css" />
    <link rel="stylesheet" href="http://192.168.1.118:8080/ysp-shop/admin/css/header.css" />
    <link rel="stylesheet" href="http://192.168.1.118:8080/ysp-shop/admin/css/datepicker.css" />
    <style>
        .control-group i {
            display: none;
        }

        .control-group.mandatory i {
            display: inline;
        }

        .block {
            display: block;
        }

        form label.error {
            display: none;
        }

        img.avatar[src=""] {
            display: none;
        }

        img.avatar[src=null] {
            display: none;
        }
    </style>

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.additional-methods.js"></script>
    <script src="~/Scripts/jquery.validate.messages_zh.js"></script>
    <script type="text/javascript" src="http://192.168.1.118:8080/ysp-shop/admin/js/datepicker.js"></script>
     
    <script src="http://192.168.1.118:8080/ysp-shop/admin/js/admin.js" type="text/javascript"></script>
     
    <script src="~/Scripts/webExpress/webExpress.js"></script>
    <script src="~/Scripts/webExpress/webExpress.utility.js"></script>
    <script src="~/Scripts/webExpress/webExpress.utility.ajax.js"></script>
    <script src="~/Scripts/webExpress/webExpress.utility.url.js"></script>
    <script src="~/Scripts/webExpress/webExpress.utility.string.js"></script>

    <script src="~/Scripts/Kendo/kendo.web.js"></script>

    <script src="~/Scripts/Views/base/ViewBase.js"></script>
</head>
<body>
    <div class="wabPage">
        <header class="header">
            <div class="logo">
            </div>
            <div class="login-info">
                <span>右右</span>您好，欢迎使用
            </div>

            <div class="links">

                <a href="#">退出</a>
            </div>

            <nav class="header-menu" id="J_downListBox">
                <ul class="menuul clearfix">
                    <li class="lilist J_menulist">
                        <a href="/Home/Index" class="t-link">
                            <img src="i/homeIcon.png" class="t-image" alt="image">后台首页</a>
                    </li>
                    <li class="lilist J_menulist licurrent">
                        <a href="#" class="t-link">艺术家管理
                        <span></span>
                        </a>
                        <ul class="drop-down-list J_downlist">
                            <li><a href="/Artist/Add">添加艺术家</a></li>
                            <li><a href="/Artist/List">艺术家管理</a></li>
                            <li><a href="/Artist/Types">艺术家分类管理</a></li>
                        </ul>
                    </li>
                    <li class="lilist J_menulist">
                        <a href="#" class="t-link">作品管理
                        <span></span>
                        </a>
                        <ul class="drop-down-list J_downlist">
                            <li><a href="/Artwork/Add">作品上传</a></li>
                            <li><a href="/Artwork/List">作品管理</a></li>
                            <li><a href="/Artwork/Types">作品分类管理</a></li>
                        </ul>
                    </li>
                    <li class="lilist J_menulist">
                        <a href="#" class="t-link">订单管理
                        <span></span>
                        </a>
                        <ul class="drop-down-list J_downlist ">
                            <li><a href="/Order/List" target="_self">订单管理</a></li>
                            <li><a href="/Order/AuctionList" target="_self">拍卖管理</a></li>
                        </ul>
                    </li>
                    <li class="lilist J_menulist">
                        <a href="/Message/List" class="t-link">评价管理
                        </a>
                    </li>
                    <li class="lilist J_menulist">
                        <a href="/AdminUser/List" class="t-link">系统设置
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <footer class="footer">
            Copyright Reserved 2013-2014 易淘艺术网络科技(北京)有限公司版权所有
        </footer>
    </div>
    
    @RenderSection("scripts", false)
</body>
</html>
